@import '../../theme/imports.scss';

:host {
  .datepicker-wrapper {
    align-content: space-between;
    border: 1px solid;
    border-radius: calculate_rem(2px);
    display: flex;
    margin-right:calculate_rem(10px);
    margin-top:calculate_rem(10px);
    padding: calculate_rem(2px);
    pointer-events: inherit;
    width: calculate_rem(200px);
    .input-date {
      border: none;
      height: calculate_rem(20px);
      padding: calculate_rem(4px);
    }
  }
  .hide-calendar {
    display: none;
  }
  .calendar {
    border: 1px solid #888888;
    border-radius: 2px;
    box-shadow: 2px 2px #888888;
  }
  ul {
    list-style-type: none;
  }

  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: 10px 10px;
    background-color: #fff;
    border-bottom: 1px solid opacity(0.6);
  }

  .weekdays li {
    position: relative;
    display: inline-block;
    width: 12%;
    color: #111111;
    font-weight: 500;
    text-align: center;
    opacity: 0.6;
  }

  /* Days */
  .days {
    padding: 10px 10px;
    padding-bottom: 20px;
    background: #fff;
    margin: 0;
    cursor: pointer;
    .current-date {
      background-color: #0a57a1;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 0 auto;
    }
    li {
      position: relative;
      list-style-type: none;
      display: inline-block;
      width: 11.3%;
      // padding: 10px 0;
      text-align: center;
      margin-bottom: 5px;
      font-size: 14px;
      border: 1px solid transparent;
    }
    
  }

  .inactive {
    color: #969da4 !important;
    cursor: default;
  }
  .current {
    color: #0a57a1;
  }
  .isBetween {
    background: #ceebff;
  }
  .selected {
    display: block;
    background: #0a57a1;
    color: #fff !important;
  }

  @keyframes Scale {
    0% {
      transform: scale(0.6);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes UnScale {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  .on-modal-enter {
    animation-name: Scale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  .on-modal-leave {
    animation-name: UnScale;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  .days li.focus {
    border: #0a57a1 1px solid;
  }
  .prevMonth{
    flex:1;
    padding-right: 1em;
  }
  
  .nextMonth{
    flex:1;
    padding-left: 1em;
  }
}
